<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">Галерея 1</h2>
    <div class="gallery__inner fancybox">
      <a class="gallery__item" data-caption="Море" href="https://i.postimg.cc/6Qq4sDsv/01.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/9Mv7Y1nq/1.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Горы" href="https://i.postimg.cc/1zdnyJPY/02.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/bYtbwcZ0/2.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Собака" href="https://i.postimg.cc/t42nM9cb/03.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/7Y12S3Mf/3.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Млечный путь" href="https://i.postimg.cc/VkYbgJD4/04.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/6qnGjRkb/4.jpg"alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Мост" href="https://i.postimg.cc/BbTXc3Fd/05.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/xCbk8M1j/5.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Еще один мост" href="https://i.postimg.cc/7P0Gy3Rm/06.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/cCyvnCvR/6.jpg" alt="Фото" />
      </a>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">Галерея 2</h2>
    <div class="gallery__inner fancybox">
      <a class="gallery__item" data-caption="Море" href="https://i.postimg.cc/6Qq4sDsv/01.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/9Mv7Y1nq/1.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Горы" href="https://i.postimg.cc/1zdnyJPY/02.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/bYtbwcZ0/2.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Собака" href="https://i.postimg.cc/t42nM9cb/03.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/7Y12S3Mf/3.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Млечный путь" href="https://i.postimg.cc/VkYbgJD4/04.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/6qnGjRkb/4.jpg"alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Мост" href="https://i.postimg.cc/BbTXc3Fd/05.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/xCbk8M1j/5.jpg" alt="Фото" />
      </a>
      <a class="gallery__item" data-caption="Еще один мост" href="https://i.postimg.cc/7P0Gy3Rm/06.jpg">
        <img class="gallery__img" src="https://i.postimg.cc/cCyvnCvR/6.jpg" alt="Фото" />
      </a>
    </div>
  </div>
</section>
