





<!--
    
    можно делать много уровнивою вложеность 
<li>
    <ul>
       <li><a href="#">Flutter <span>0</span></a></li>
   </ul>
</li>

-->



<header class="header">
    <div class="logo">Downtown</div>
    
    <input type="checkbox" id="toggle">
    <label for="toggle"><ion-icon name="menu"></ion-icon></label>
    
    <nav class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a>
          <ul>
            <li><a href="#">Web Development <span>0</span></a></li>
            <li><a href="#">Mobile Development</a>
              <ul>
                <li><a href="#">Flutter <span>0</span></a></li>
                <li><a href="#">Kotlin <span>0</span></a></li>
                <li><a href="#">Java <span>0</span></a></li>
              </ul>
            </li>
            <li><a href="#">Web Design <span>0</span></a>
                <ul>
                    <li><a href="#">Web Development <span>0</span></a></li>
                    <li><a href="#">Mobile Development</a>
                      <ul>
                        <li><a href="#">Flutter <span>0</span></a></li>
                        <li><a href="#">Kotlin <span>0</span></a></li>
                        <li><a href="#">Java <span>0</span></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Web Design <span>0</span></a></li>
                    <li><a href="#">SE0 <span>0</span></a></li>
                  </ul>
            </li>
            <li><a href="#">SE0 <span>0</span></a></li>
          </ul>
        </li>
        <li><a href="#">Routes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero"></div>
            
