img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: #404040;
  background-color: #F7F7F7;
  font-family: 'Rubik', sans-serif;
}

.section {
  padding: 100px 0;

  &__container {
    width: 100%;
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.22fr;
    grid-column-gap: 30px;

    @media(max-width: 991.98px) {
      grid-template-columns: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 18px;

    span {
      color: #2F80ED;
    }
  }

  &__text {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    line-height: 1.2;
    color: #8D8D8D;
    margin-bottom: 20px;

    p:last-child {
      color: #2F80ED;
      margin-top: 10px;
    }

    @media(max-width: 991.98px) {
      max-width: none;
    }
  }

  &__btn {
    width: 100%;
    max-width: 275px;
    height: 71px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #2F80ED;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: white;
    margin-top: auto;
    transition: all 0.3s ease 0s;

    &:hover {
      background: #2669c3;
    }

    @media(max-width: 991.98px) {
      max-width: 652px;
      margin-top: 20px;
    }
  }
}
