<section class="section">
  <div class="section__container">
    <div class="section__inner">
      <div class="section__content section-content">
        <h2 class="section__title">В чем конкретно заключается ценность присутствия вашего <span>объекта на агрегаторе </span></h2>
        <div class="section__text">
          <p>Вы получаете бронирования <br> со своего собственного сайта, никак не пересекающегося с конкурентами.</p>
          <p>Без комиссии агрегатору</p>
        </div>
        <a class="section__btn" href="#">Разместить объект</a>
      </div>
      <div class="section__img" data-da="section-content,2,991">
        <img src="https://i.postimg.cc/fb8hMH9p/value.png" alt="Image">
      </div>
    </div>
  </div>
</section>
